body,html {
    font-family: Heebo;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

h2 {
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

#header {
    display: flex;
    justify-content: end;
}

#navbar {
    display: flex;
    margin-top: 20px;
    margin-right: 60px;
}

.a-navbar {
    font-weight: 500;
    margin-left: 30px;
    text-decoration: none;
    color: black;
}

#works {
    color: #FF6464;
}

#section {
    margin-top: 100px;
    margin-right: 235px;
    margin-bottom: 100px;
    margin-left: 235px;
}

.information {
    display: flex;
    gap: 20px;
}

.article {
    margin-top: 5px;
}

.img {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#footer {
    margin: 50px, 150px, 10px, 150px;
}

#footer-img {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#footer-copyright {
    display: flex;
    justify-content: center;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 376px) {
    body,html {
        font-size: 16px;
    }

    #navbar {
        margin-right: 20px;
    }

    #section {
        margin: 40px 10px 20px;
   }

   #footer {
    margin: 10px;
    display: flex;
    flex-direction: column;
    }

   .desktop {
    display: none;
   }

   .mobile {
    display: block;
    }
}